# LLM
ANTHROPIC_API_KEY=your_key_here

# Gmail
GMAIL_CLIENT_ID=your_key_here
GMAIL_CLIENT_SECRET=your_key_here

# Google Calendar
GOOGLE_CALENDAR_ID=your_key_here

# Search
TAVILY_API_KEY=your_key_here

# Vector DB (Pinecone - optional)
PINECONE_API_KEY=your_key_here
PINECONE_ENV=your_env_here
